<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Black and White Conversion</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Convert Image to Black and White</h1>
        <form action="/exercise5/bw/" method="post" enctype="multipart/form-data" class="mt-4">
            <div class="form-group">
                <label for="input_file">Upload Image:</label>
                <input type="file" name="input_file" id="input_file" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary mt-4">Convert to BW</button>
        </form>
    </div>
</body>
</html>